header
    background-color: #4d4747
    padding: 20px
    .imgbox
        width: 187px
    a
        font-size: 21px
        margin-right: 65px
        &:hover
            color: #ccc91e
        @media  screen and (max-width: 1000px)
            font-size: 18px
