#welcometo
    background-image: url("assets/img/header-bg.jpg")
    background-position: center center
    background-repeat: no repeat
    background-size: cover
    padding: 100px
    .textbox
        padding: 120px 0
        h3
            font-size: 36px
            color: #fff
            @media  screen and (max-width: 1000px)
                font-size: 20px
        h1
            font-size: 72px
            font-weight: 700
            margin: 30px 0 60px
            color: #fff
            @media  screen and (max-width: 1000px)
                font-size: 36px
        .btn
            background-color: #fff025
            padding: 15px 25px
            font-size: 20px
            color: #fff
            @media  screen and (max-width: 1000px)
                font-size: 10px
                padding: 25px 35px
