#welcometo
    background-image: url("assets/img/header-bg.jpg")
    background-position: center
    padding: 130px 0
    .textbox
        padding: 120px 0
        color: #fff
        h3
            font-size: 36px
        h1
            font-size: 72px
            font-weight: 700
            margin: 30px 0 60px
        .btn
            background-color: #c7ba00
            padding: 20px 55px
            font-size: 20px
            color: #fff
    @media  screen and (max-width: 600px)
        h3
            font-size: 20px
        h1
            font-size: 36px
        .btn
            font-size: 10px
            padding: 25px 35px
