body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}
body .imgbox {
  overflow: hidden;
}
body .imgbox img {
  width: 100%;
}
body section {
  padding: 50px 0;
}

header {
  background-color: #4d4747;
  position: fixed;
  padding: 27px 0;
  width: 100%;
}
header .menu .imgbox {
  width: 180px;
}
header .menu nav a {
  font-size: 22px;
  margin-right: 30px;
}
header .menu nav a:hover {
  color: #ccc91e;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  header a {
    font-size: 18px;
  }
}

#welcometo {
  background-image: url("assets/img/header-bg.jpg");
  background-position: center;
  padding: 130px 0;
}
#welcometo .textbox {
  padding: 120px 0;
  color: #fff;
}
#welcometo .textbox h3 {
  font-size: 36px;
}
#welcometo .textbox h1 {
  font-size: 72px;
  font-weight: 700;
  margin: 30px 0 60px;
}
#welcometo .textbox .btn {
  background-color: #c7ba00;
  padding: 20px 55px;
  font-size: 20px;
  color: #fff;
}
@media screen and (max-width: 600px) {
  #welcometo h3 {
    font-size: 20px;
  }
  #welcometo h1 {
    font-size: 36px;
  }
  #welcometo .btn {
    font-size: 10px;
    padding: 25px 35px;
  }
}

#services {
  padding: 120px 0;
}
#services .textbox {
  padding: 30px 0;
  text-align: center;
}
#services .textbox h1 {
  font-weight: 700;
  font-size: 45px;
}
#services .textbox h2 {
  font-size: 20px;
  color: #7a7a7a;
  margin: 20px 0;
}
#services .textbox h3 {
  font-size: 30px;
  font-weight: 700;
  margin: 20px 0;
}
#services .textbox p {
  color: #6c757d;
  line-height: 30px;
  font-size: 19px;
}
#services .icon {
  text-align: center;
  font-size: 90px;
  color: #fff;
  background-color: #eeff00;
  width: 130px;
  height: 130px;
  border-radius: 60px;
  margin: 10px 0 0 140px;
}
#services .icon i {
  margin-top: 20px;
}
@media screen and (max-width: 632px) {
  #services h1 {
    font-size: 30px;
  }
  #services h2 {
    font-size: 10px;
  }
  #services h3 {
    font-size: 25px;
  }
  #services p {
    font-size: 10px;
  }
  #services .icon {
    font-size: 75px;
  }
}

#portfolio {
  background-color: #dedede;
}
#portfolio .textbox {
  text-align: center;
  margin: 40px 0;
}
#portfolio .textbox h1 {
  font-size: 60px;
  font-weight: 700;
  margin: 40px 0;
}
#portfolio .textbox h2 {
  font-size: 25px;
  color: #757373;
  margin: 30px 0;
}
#portfolio .textbox h3 {
  font-weight: 700;
  font-size: 35px;
  margin: 15px 0;
}
#portfolio .textbox h4 {
  font-size: 30px;
  color: #363636;
  margin: 15px 0;
}
#portfolio .imgbox {
  width: 420px;
  margin: 0 20px;
  position: relative;
}
#portfolio .overlay {
  color: #fff;
  background-color: #fff700;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: 0.1s;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
}
#portfolio .overlay:hover {
  opacity: 0.9;
  cursor: pointer;
}
@media screen and (max-width: 632px) {
  #portfolio h1 {
    font-size: 35px;
  }
  #portfolio h2 {
    font-size: 20px;
  }
  #portfolio h3 {
    font-size: 30px;
  }
  #portfolio h4 {
    font-size: 25px;
  }
}
@media screen and (min-width: 1384px) {
  #portfolio .imgbox {
    width: 380px;
  }
}
@media screen and (max-width: 1180px) {
  #portfolio .imgbox {
    width: 280px;
  }
}

#about .first {
  margin-left: 0;
}
#about .txt h1 {
  font-size: 50px;
  font-weight: 700;
  margin-top: 80px;
}
#about .txt h2 {
  font-size: 20px;
  margin: 20px;
  color: #474747;
}
#about .textbox {
  text-align: right;
  width: 40%;
  margin-right: 30px;
}
#about .textbox h1, #about .textbox h2 {
  font-size: 30px;
  font-weight: 700;
}
#about .textbox h2 {
  margin: 10px 0;
}
#about .textbox h3 {
  font-size: 19px;
  line-height: 1.4;
  color: #474747;
}
#about .text-left {
  text-align: left;
  margin-left: 30px;
  width: 38%;
}
#about .imgbox {
  max-width: 195px;
  border: 7px solid #424242;
  border-radius: 50%;
}
#about .yellow-circle h1 {
  text-align: center;
  background-color: #ffc400;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  width: 194px;
  border: 7px solid #fff;
  border-radius: 50%;
  padding: 42px 51px;
}
@media screen and (max-width: 1384px) {
  #about .imgbox {
    width: 170px;
    background-size: cover;
  }
}
@media screen and (max-width: 1200px) {
  #about .imgbox {
    width: 110px;
    background-size: cover;
  }
}
@media screen and (max-width: 852px) {
  #about .imgbox {
    width: 59px;
    background-size: cover;
  }
}

#team {
  background-color: #e6e6e6;
}
#team .textbox {
  text-align: center;
}
#team .textbox h1 {
  font-weight: 700;
  font-size: 50px;
}
#team .textbox h2 {
  color: #888787;
  font-size: 25px;
  margin: 20px 0;
}
#team .textbox h3 {
  font-weight: 600;
  font-size: 30px;
  margin: 20px 0 10px;
}
#team .textbox h4 {
  font-size: 20px;
  color: #797979;
  margin-bottom: 15px;
}
#team .icon i {
  color: #fff;
  font-size: 35px;
  background-color: #222222;
  border-radius: 20px;
}
#team .imgbox {
  border: 3px solid #949494;
  border-radius: 120px;
  width: 200px;
  margin: 0 140px;
}
#team h5 {
  margin: 77px 0;
  color: #797979;
  font-size: 23px;
  padding: 0 134px;
}
@media screen and (max-width: 632px) {
  #team h1 {
    font-size: 45px;
  }
  #team h2 {
    font-size: 15px;
  }
  #team h3 {
    font-size: 20px;
  }
  #team h4 {
    font-size: 15px;
  }
  #team h5 {
    font-size: 20px;
  }
  #team .icon i {
    font-size: 25px;
  }
}

#logos .imgbox {
  margin: 0 40px;
  width: 250px;
}

#contact {
  background-image: url("assets/img/map-image.jpg");
  background-color: #000000;
  background-position: center;
  background-size: cover;
  padding: 150px 0;
}
#contact h1 {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  margin-top: 20px;
}
#contact h3 {
  font-size: 25px;
  color: #5c5c5c;
  margin: 20px 0;
}
#contact input {
  border: 1px solid black;
  width: 650px;
  height: 85px;
  margin: 10px 0;
  border-radius: 17px;
  font-size: 30px;
}
#contact .btn {
  background-color: #ffd900;
  padding: 20px 50px;
  color: #fff;
  font-size: 29px;
  font-weight: 700;
  border-radius: 5px;
  margin-top: 20px;
}
#contact textarea {
  border-radius: 5px;
  font-size: 30px;
}
@media screen and (max-width: 632px) {
  #contact h1 {
    font-size: 45px;
  }
  #contact h3 {
    font-size: 20px;
  }
  #contact input {
    width: 600px;
    height: 75px;
    font-size: 25px;
    margin: 6px 0;
  }
  #contact .btn {
    padding: 25px 75px;
    font-size: 20px;
    margin-top: 16px;
  }
}
footer {
  padding: 45px 0;
}
footer h3 {
  font-size: 20px;
}
footer .icon i {
  font-size: 65px;
  border-radius: 20px;
}
@media screen and (max-width: 632px) {
  footer h3 {
    font-size: 19px;
  }
  footer .icon {
    font-size: 30px;
  }
}/*# sourceMappingURL=style.css.map */